version: "3"
services:
    mysql:
        image: mariadb:10.1.37 #mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
        restart: always
        volumes:
            - ./database:/var/lib/mysql
        ports:
            - "3306:3306"
    phpmyadmin:
        image: phpmyadmin
        environment:
            PMA_HOST: mysql
            UPLOAD_LIMIT: 1024M
            MEMORY_LIMIT: 1024M
            MAX_EXECUTION_TIME: 300
            PMA_ARBITRARY: 1
        ports:
            - "8081:80"
        restart: always
            
